<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if metaTitle %}{{ metaTitle }} - {% endif %}{{ site[locale].title }}</title>
  <meta name="description" content="{{ site[locale].description }}">

  <!-- 100% privacy friendly analytics -->
  <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>

  <!-- Favicons -->
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="theme-color" content="#222">

  <!-- Tailwind and Alpine -->
  <link rel="stylesheet" href="/style.css?v={% version %}"/>
  <script src="/js/alpine.js?v={% version %}" defer></script>

  <!-- Sal.js -->
  <link rel="stylesheet" href="https://unpkg.com/sal.js@0.8.5/dist/sal.css">
  <script src="https://unpkg.com/sal.js@0.8.5/dist/sal.js"></script>

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://www.learnslice.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if metaTitle %}{{ metaTitle }} - {% endif %}{{ site[locale].title }}">
  <meta property="og:description" content="LearnSlice is an online platform for learners and lecturers that facilitates self-preparation for exams with quizzes related to a study program.">
  <meta property="og:image" content="https://learnslice.com/assets/images/social.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if metaTitle %}{{ metaTitle }} - {% endif %}{{ site[locale].title }}">
  <meta name="twitter:description" content="LearnSlice is an online platform for learners and lecturers that facilitates self-preparation for exams with quizzes related to a study program.">
  <meta name="twitter:image" content="https://learnslice.com/assets/images/social.png">

</head>
<body class="bg-gray-950 text-gray-100">
  <div class="max-w-7xl mx-auto flex flex-col gap-32">
    {% include "header.html" %}
    {{ content | safe }}
    {% include "footer.html" %}
  </div>
</body>

<script>sal();</script>

</html>