<div class="">
    <div class="relative flex items-center">
        <div class="flex flex-col gap-6 max-w-2xl">
            <div class="text-2xl md:text-4xl lg:text-6xl font-extrabold">
                Make Your Company Knowledge Instantly Interactive
            </div>
            <p class="text-xl">
                Revolutionize workplace learning with AI-powered quizzes that engage employees, enhance knowledge retention,
                and cut hiring expenses – all in just seconds.
            </p>
            <div>
                <a href="#" class="button">Get Started for free</a>
            </div>
            <small class="text-gray-400">No Credit Card Required!</small>
        </div>
        <img class="absolute h-[600px] w-auto top-1/2 -right-8 -translate-y-1/2" src="/img/hero-image.png"
            alt="LearnSlice Hero Image">
    </div>
</div>