---
permalink: "/{{ locale }}/contact-success/"
translationKey: "contactSuccess"
---

{% extends "layouts/default.html" %}

{% set metaTitle= "Vielen Dank für Ihre Nachricht!" %}

{% block content %}

<div class="text-center container-hero">
  <div class="max-w-screen-xl mx-auto text-2xl font-extrabold text-center md:text-4xl lg:text-6xl md:mb-8">
    {{ site[locale].contactSuccessTitle }}
  </div>
  <p class="max-w-screen-lg mx-auto text-center text-gray-400 lg:text-2xl">
    {{ site[locale].contactSuccessSubtitle }}
  </p>
  <a href="/{{ locale }}" class="inline-block px-4 py-3 mt-16 ml-4 font-medium cursor-pointer whitespace-nowrap gradient rounded-xl hover:brightness-110">Homepage</a>
</div>

{% endblock %}
