---
permalink: "/{{ locale }}/contact-success.html"
translationKey: "team"
---

{% extends "layouts/default.html" %}

{% set metaTitle= "Vielen Dank für Ihre Nachricht!" %}

{% block content %}

<div class="container-hero text-center">
  <div class="max-w-screen-xl mx-auto text-2xl md:text-4xl lg:text-6xl font-extrabold text-center md:mb-8">
    {{ site[locale].contactSuccessTitle }}
  </div>
  <p class="text-center lg:text-2xl max-w-screen-lg mx-auto text-gray-400">
    {{ site[locale].contactSuccessSubtitle }}
  </p>
  <a href="/{{ locale }}" class="whitespace-nowrap ml-4 gradient py-3 font-medium px-4 rounded-xl hover:brightness-110 cursor-pointer inline-block mt-16">Homepage</a>
</div>

{% endblock %}
