---
permalink: "/{{ locale }}/faq/index.html"
translationKey: "faq"
---

{% extends "layouts/default.html" %}

{% set metaTitle= "Häufig gestellte Fragen" %}

{% block content %}

<div class="container-hero">
  <div class="max-w-screen-xl mx-auto text-2xl md:text-4xl lg:text-6xl font-extrabold text-center md:mb-8">
    {{ hero[locale].titleFAQ }}
  </div>
  <p class="text-center lg:text-2xl max-w-screen-lg mx-auto text-gray-400">
    {{ hero[locale].textBlog }}
  </p>
</div>

<div class="container py-16 md:py-24">
  {% for item in faq[locale] %}
    <details class="py-4 px-8 border-2 border-gray-700 rounded-xl mb-4 hover:border-gray-500 open:bg-gray-800 cursor-pointer group">
      <summary class="flex justify-between items-center">
        <h2 class="text-3xl">{{ item.title }}</h2>
        <svg class="group-open:hidden w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
        <svg class="hidden group-open:block w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4"></path></svg>
      </summary>
      <p class="md:text-lg pt-6 pb-4">
        {{item.text}}
      </p>
    </details>
  {% endfor %}
</div>


{% endblock %}
