---
permalink: "/{{ locale }}/index.html"
translationKey: "homepage"
---

{% extends "layouts/default.html" %}

{% set metaTitle= "Startseite" %}

{% block content %}

  {% include "partials/hero.html" %}
  {% include "partials/partner-uni.html" %}
  {% include "partials/features.html" %}
  {% include "partials/content-for-students.html" %}
  {% include "partials/content-for-teachers.html" %}
  {% include "partials/features-software.html" %}
{% include "partials/testimonials.html" %}

{% endblock %}
