---
permalink: "/{{ locale }}/team/index.html"
translationKey: "faq"
---

{% extends "layouts/default.html" %}

{% set metaTitle= "Team" %}

{% block content %}

<div class="py-16 md:py-24 container ">
  <div class="max-w-screen-xl mx-auto text-2xl md:text-4xl lg:text-6xl font-extrabold text-center my-4 md:mt-12 md:mb-8">
    {{ hero[locale].titleTeam }}
  </div>
  <p class="text-center lg:text-2xl max-w-screen-lg mx-auto text-gray-400 mb-16">
    {{ hero[locale].textTeam }}
  </p>
</div>

    <div class="container grid gap-4 lg:gap-16 grid-cols-4">
      {% for member in team[locale] %}
      <div class="col-span-4 md:col-span-2 lg:col-span-1 text-center">
          <img alt="team" class="image-gradient max-w-[200px] max-h-[200px] mx-auto rounded-full object-cover" src="../../../assets/images/{{member.image}}.png">
            <h2 class="text-2xl font-bold text-white mt-6">{{ member.name }}</h2>
            <h3 class="text-primary uppercase tracking-wider text-sm mt-2 mb-4">{{ member.position }}</h3>
            <p class="mb-4 text-gray-400">{{ member.description }}</p>
      </div>
      {% endfor %}
    </div>


{% endblock %}
