@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

[x-cloak] { display: none !important; }

*[id]:target {
    padding-top: 200px;
    margin-top: -200px;
    outline: 0;
}

.text-headline {
    @apply text-3xl md:text-4xl lg:text-5xl text-white font-bold mb-4 md:mb-8
}

.text-headline-sm {
    @apply text-xl md:text-2xl lg:text-3xl text-white font-bold mb-4 md:mb-8
}

.image-gradient {
    box-shadow:
    16px 16px 64px 0 rgba(75, 166, 238, .5),
    -16px -16px 64px 0 rgba(180, 64, 252, .5);
}

.gradient {
    @apply bg-gradient-to-r from-primary via-[#8B43FE] to-secondary;
}

.container-hero {
    @apply relative py-12 md:mb-12 container
}

.prose img {
    @apply mx-auto
}

.input-field {
    @apply p-3 block w-full rounded-xl bg-gray-700 mt-2
}

.bg-dragon-scales {
    background-color: #18181B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2318181B' cx='50' cy='0' r='50'/%3E%3Cg fill='%2319181e' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23191921' cx='50' cy='100' r='50'/%3E%3Cg fill='%231a1924' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b1927' cx='50' cy='200' r='50'/%3E%3Cg fill='%231d192a' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%231e182d' cx='50' cy='300' r='50'/%3E%3Cg fill='%23201831' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23221835' cx='50' cy='400' r='50'/%3E%3Cg fill='%23251738' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2328163c' cx='50' cy='500' r='50'/%3E%3Cg fill='%232b1540' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%232f1444' cx='50' cy='600' r='50'/%3E%3Cg fill='%23331349' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2338124d' cx='50' cy='700' r='50'/%3E%3Cg fill='%233d1152' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23430f56' cx='50' cy='800' r='50'/%3E%3Cg fill='%234a0e5b' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23510c60' cx='50' cy='900' r='50'/%3E%3Cg fill='%23590a65' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2362086A' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}