{% extends "layouts/default.html" %}

{% set metaTitle = title %}

{% block content %}
<div class="bg-gray-900">
  <div class="relative flex items-center justify-center py-16 md:py-32">
    <h1 class="relative z-10 mx-auto max-w-4xl text-2xl md:text-4xl lg:text-6xl font-extrabold mb-8">
      {{ title }}
    </h1>
    <img class="absolute z-0 inset-0 object-cover w-full h-full opacity-40" src="{{ image }}" alt="">
  </div>
  <div class="container overflow-hidden">

    <div class="prose prose-lg prose-invert max-w-4xl mx-auto">

      {% for navitem in mainnav[locale] %}
        {% if navitem.label === "Blog" %}
          <a class="inline-flex items-center p-4 -ml-4 my-8 no-underline" href="{{ navitem.url }}">
            <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path></svg>
            {{ navitem.blogPostLabel }}
          </a>
        {% endif %}
      {% endfor %}

      {{ content | safe }}
    </div>
  </div>
</div>
{% endblock %}
