{% extends "layouts/default.html" %}

{% set metaTitle = title %}

{% block content %}
<div class="bg-gray-800 py-8 md:py-24">
  <div class="container overflow-hidden">
    {% for navitem in mainnav[locale] %}

  {% if navitem.label === "Blog" %}
  <a class="mr-2" href="{{ navitem.url }}">{{ navitem.blogPostLabel }}</a>
  {% endif %}

{% endfor %}
  <h1 class="mx-auto max-w-4xl text-2xl md:text-4xl lg:text-6xl font-extrabold mb-8">{{ title }}</h1>
    <div class="prose prose-lg prose-invert max-w-full mx-auto">
    {{ content | safe }}
  </div>
  </div>
</div>
{% endblock %}
