<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if metaTitle %}{{ metaTitle }} - {% endif %}{{ site[locale].title }}</title>
  <link rel="stylesheet" href="/style.css?v={% version %}"/>
  <script src="/js/alpine.js?v={% version %}" defer></script>
</head>
<body class="bg-gray-900 text-white">
  
  {% include "partials/header.html" %}

  <div class="my-44">
    {% block content %}{% endblock %}
  </div>

  {% include "partials/footer.html" %}

</body>
</html>
