---
permalink: "/{{ locale }}/imprint/index.html"
translationKey: "imprint"
---

{% extends "layouts/default.html" %}

{% set metaTitle= "Imprint" %}

{% block content %}

<article class="prose prose-lg prose-invert max-w-4xl mx-auto py-24">
  <h1>Imprint</h1>
  
  <section>
    <h2>Company Information</h2>
    <dl>
      <dt>Company Name:</dt>
      <dd>LearnSlice UG (haftungsbeschränkt)</dd>
      <dt>Address:</dt>
      <dd>Luisenstraße 66<br>
          40215 Düsseldorf</dd>
      <dt>Registration:</dt>
      <dd>Handelsregister: HRB 108192<br>
          Registergericht: Amtsgerichts Düsseldorf</dd>
      <dt>Represented by:</dt>
      <dd>Alesia Kunz</dd>
    </dl>
  </section>

  <section>
    <h2>Contact Information</h2>
    <dl>
      <dt>Telephone:</dt>
      <dd>+49 15783914112</dd>
      <dt>Email:</dt>
      <dd><a href="mailto:info@learnslice.com">info@learnslice.com</a></dd>
      <dt>Internet address:</dt>
      <dd><a rel="noopener noreferrer" href="https://www.learnslice.com" target="_blank">www.learnslice.com</a></dd>
    </dl>
  </section>

  <hr>

  <section>
    <p>VAT indentification number in accorance with Section 27 a of the German VAT act: DE454277124 <br> Tax No.: 106/5769/1318</p>
  </section>

  <hr>

  <section>
    <h2>Regulating authority</h2>
    <p>Trading certificate compliant with §15 Abs.1 GewO 
      <br>Landeshauptstadt Düsseldorf, Ordnungsamt 
      <br>Worringer Str. 111 40210 Düsseldorf 
      <br>
      <a rel="noopener noreferrer" href="https://service.duesseldorf.de" target="_blank">https://service.duesseldorf.de</a>
      <br>Chamber of commerce: IHK Düsseldorf 
      <br>
    </p>
  </section>

  <section>
    <h2>Graphics and Image Sources</h2>
    <ul>
      <li>www.pexels.com</li>
      <li>www.unsplash.com</li>
      <li>www.freepik.com</li>
    </ul>
  </section>

  <section>
    <h2>Disclaimer</h2>
    
    <h3>Accountability for content</h3>
    <p>The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this matter, please note that we are not obliged to monitor the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).
    </p>
    
    <h3>Accountability for links</h3>
    <p>Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.
    </p>
    
    <h3>Copyright</h3>
    <p>Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law, every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are only allowed for private use. The materials from these pages are copyrighted and any unauthorized use may violate copyright laws.
    </p>
    
    <footer>
      <p><cite>Source: <a rel="noopener noreferrer" href="http://www.translate-24h.de" target="_blank">translate-24h.de</a></cite></p>
    </footer>
  </section>
</article>

{% endblock %}