---
permalink: "/{{ locale }}/index.html"
translationKey: "homepage"
---

{% extends "layouts/default.html" %}

{% set metaTitle= "Home" %}

{% block content %}

  {% include "partials/hero.html" %}
  {% include "partials/partner-uni.html" %}
  {% include "partials/features.html" %}
  {% include "partials/content-for-students.html" %}
  {% include "partials/content-for-teachers.html" %}
  {% include "partials/features-software.html" %}

  <div class="container">

  <h2>Blog</h2>
  {% for post in collections.posts_en %}
    {% if loop.first %}<ul>{% endif %}
      <li>

        <article>
          <p><time datetime="{{ post.date | dateIso }}">{{ post.date | dateFull(locale) }}</time></p>
          <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
        </article>

      </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}
</div>

{% endblock %}
