<div class="overflow-hidden py-16 md:py-24 border-b border-gray-700">
    <div class="container flex flex-col items-center relative">
        <div data-sal="fade" data-sal-duration="500" data-sal-once>
            <img class="w-full max-h-[500px] mx-auto -mt-16 md:-mt-24 md:-mb-8" src="../../assets/images/hero-universities.svg" alt="Hero image for universities">
            <div class="uppercase text-secondary text-center font-bold tracking-wider text-xs md:text-sm">
                {{ customers[locale].uhl }}
            </div>
            <div class="max-w-screen-xl mx-auto lg:text-7xl md:text-3xl text-2xl md:my-6 my-4 font-extrabold text-center">
                {{ customers[locale].uht }}
            </div>
            <p class="text-center md:text-xl max-w-screen-md mx-auto text-gray-200/75 z-10">
                {{ customers[locale].uhp }}
            </p>
        </div>
    </div>  
</div>

{% include "partials/content.html" %}