<div class="overflow-hidden py-16 md:py-24 border-b border-gray-700">
    <div class="container flex flex-col items-center relative">
        <div data-sal="fade" data-sal-duration="500" data-sal-once>
            <img class="w-full max-h-[500px] mx-auto -mt-16 md:-mt-24 md:-mb-8" src="../../assets/images/hero-companies.svg" alt="">
            <div class="uppercase text-secondary text-center font-bold tracking-wider text-xs md:text-sm">
                {{ customers[locale].chl }}
            </div>
            <div class="max-w-screen-xl mx-auto lg:text-7xl md:text-3xl text-2xl md:my-6 my-4 font-extrabold text-center">
                {{ customers[locale].cht }}
            </div>
            <p class="text-center md:text-xl max-w-screen-md mx-auto text-gray-200/75 z-10">
                {{ customers[locale].chp }}
            </p>
        </div>
    </div>  
</div>

<div class="bg-gray-800">
    <div class="container py-12 md:py-24">
        <h2 class="text-headline text-center">
            Funktionen auf die es ankommt
        </h2>
        <div class="flex flex-wrap -mx-4">
            <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
                <div class="flex-grow">
                    <h2 class="text-lg md:text-2xl font-bold mb-3">
                        Peer-to-Peer Mentoring
                    </h2>
                    <p class="leading-relaxed text-gray-400">
                        Lassen Sie die Fachkräfte in Ihrem Unternehmen voneinander lernen und sich zugehörig fühlen!
                    </p>
                </div>
            </div>
            <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
                <div class="flex-grow">
                    <h2 class="text-lg md:text-2xl font-bold mb-3">
                        Weiterbildung
                    </h2>
                    <p class="leading-relaxed text-gray-400">
                        Steigern Sie das Lernen und die Kompetenzentwicklung Ihrer Mitarbeiter.
                    </p>
                </div>
            </div>
            <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
                <div class="flex-grow">
                    <h2 class="text-lg md:text-2xl font-bold mb-3">
                        Onboarding
                    </h2>
                    <p class="leading-relaxed text-gray-400">
                        Bevor der neue Mitarbeiter dem Unternehmen beitritt, können Sie Pre-Onboarding-Tests erstellen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>