<div class="overflow-hidden py-16 md:py-24 border-b border-gray-700">
    <div class="container flex flex-col items-center relative">
        <div data-sal="fade" data-sal-duration="500" data-sal-once>
            <div class="uppercase text-secondary text-center font-bold tracking-wider">
                {{ customers[locale].shl }}
            </div>
            <div class="max-w-screen-xl mx-auto lg:text-7xl md:text-3xl text-2xl md:my-6 my-4 font-extrabold text-center">
                {{ customers[locale].sht }}
            </div>
            <p class="text-center md:text-xl max-w-screen-md mx-auto text-gray-200/75 z-10">
                {{ customers[locale].shp }}
            </p>
        </div>
    </div>  
</div>