<div class="overflow-hidden py-16 md:py-24 border-b border-gray-700">
    <div class="container flex flex-col items-center relative">
        <div data-sal="fade" data-sal-duration="500" data-sal-once>
            <img class="w-full max-h-[500px] mx-auto -mt-16 md:-mt-24 md:-mb-8" src="../../assets/images/hero-companies.svg" alt="">
            <div class="uppercase text-secondary text-center font-bold tracking-wider text-xs md:text-sm">
                {{ customers[locale].chl }}
            </div>
            <div class="max-w-screen-xl mx-auto lg:text-7xl md:text-3xl text-2xl md:my-6 my-4 font-extrabold text-center">
                {{ customers[locale].cht }}
            </div>
            <p class="text-center md:text-xl max-w-screen-md mx-auto text-gray-200/75 z-10">
                {{ customers[locale].chp }}
            </p>
        </div>
    </div>  
</div>

<div class="bg-gray-800">
    <div class="container py-12 md:py-24">
        <div class="grid grid-cols-12 items-center">
            <div class="col-span-12 md:col-span-6 md:pr-8">
                <h2 class="text-2xl md:text-4xl font-bold">
                    {{ customers[locale].ct_feature1_Headline }}
                </h2>
                <p class="text-xl leading-relaxed text-gray-200 my-4 md:my-6">
                    {{ customers[locale].ct_feature1_Headline2 }}
                </p>
                <p class="leading-relaxed text-gray-400">
                    {{ customers[locale].ct_feature1_Text1 }}
                </p>
            </div>
            <div class="col-span-12 md:col-span-6 md:pl-8">
                <img class="w-full h-auto object-cover rounded-2xl" src="https://images.pexels.com/photos/7013913/pexels-photo-7013913.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
        </div>
    </div>
</div>

<div class="bg-gray-800">
    <div class="container py-12 md:py-24">
        <div class="grid grid-cols-12 items-center">
            <div class="col-span-12 md:col-span-6 md:pr-8">
                <img class="w-full h-auto object-cover rounded-2xl" src="https://images.pexels.com/photos/2873277/pexels-photo-2873277.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
            <div class="col-span-12 md:col-span-6 md:pl-8">
                <h2 class="text-2xl md:text-4xl font-bold">
                    {{ customers[locale].ct_feature2_Headline }}
                </h2>
                <p class="text-xl leading-relaxed text-gray-200 my-4 md:my-6">
                    {{ customers[locale].ct_feature2_Headline2 }}
                </p>
                <p class="leading-relaxed text-gray-400">
                    {{ customers[locale].ct_feature2_Text1 }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bg-gray-800">
    <div class="container py-12 md:py-24">
        <div class="grid grid-cols-12 items-center">
            <div class="col-span-12 md:col-span-6 md:pr-8">
                <h2 class="text-2xl md:text-4xl font-bold">
                    {{ customers[locale].ct_feature3_Headline }}
                </h2>
                <p class="text-xl leading-relaxed text-gray-200 my-4 md:my-6">
                    {{ customers[locale].ct_feature3_Headline2 }}
                </p>
                <p class="leading-relaxed text-gray-400">
                    {{ customers[locale].ct_feature3_Text1 }}
                </p>
            </div>
            <div class="col-span-12 md:col-span-6 md:pl-8">
                <img class="w-full h-auto object-cover rounded-2xl" src="https://images.pexels.com/photos/2041393/pexels-photo-2041393.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
        </div>
    </div>
</div>