<div class="">
    <div class="container py-12 md:py-24">
        <div class="grid items-center gap-8 md:grid-cols-2 lg:gap-24">
            <div class="lg:pr-16">
                <h2 class="mb-4 text-2xl font-bold md:text-4xl">
                    {{ site[locale].edutainerin[0] }}
                </h2>
                <p class="text-base text-gray-300">
                    {{ site[locale].edutainerin[1] }}
                    {{ site[locale].edutainerin[2] }}
                    {{ site[locale].edutainerin[3] }}
                </p>
                <p class="my-4 text-base font-bold text-gray-300">
                    {{ site[locale].edutainerin[4] }}
                </p>
                <a href="https://www.die-edutainerin.de/" class="inline-block px-4 py-3 font-medium cursor-pointer whitespace-nowrap gradient rounded-xl hover:brightness-110" target="_blank" rel="noopener noreferrer">{{ site[locale].learnmore }}</a>
            </div>
            <div class="order-first md:order-none">
                <img class="object-cover w-full h-auto rounded-2xl" src="../../assets/images/edutainerin.png" alt="Edutainerin Logo">
            </div>
        </div>
    </div>
</div>