<div class="container py-32">
    <div class="flex flex-wrap -mx-4 md:space-y-0 space-y-6">
        {% for feature in features[locale] %}
        {% if loop.first %}{% endif %}
            <div class="p-4 md:w-1/4 flex flex-col text-center items-center">
                <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-secondary text-white mb-5 flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                </div>
                <div class="flex-grow">
                    <h2 class="text-lg md:text-2xl font-bold mb-3">{{feature.label}}</h2>
                    <p class="leading-relaxed text-gray-400">
                        Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug VHS try-hard.
                    </p>
                </div>
            </div>
        {% if loop.last %}{% endif %}
    {% endfor %}
    </div>
</div>