<div>
  <header class="w-full transition-all bg-gray-900 border-t border-gray-800 py-8 lg:py-16">
  
    <div class="container flex flex-col lg:flex-row items-center justify-between">
      <a href="/" class="font-bold hover:brightness-125 transition-transform mb-8 lg:mb-0">
        <img class="h-8 lg:h-10" src="/assets/images/logo.svg" alt="">
      </a>

      {% for navitem in footernav[locale] %}
      {% if loop.first %}
      <div class="flex flex-col lg:flex-row text-center">{% endif %}
        <a class="ml-1 text-gray-400 py-2 px-3 text-lg rounded-xl hover:bg-gray-100/10 hover:text-white transition-colors {{ 'text-white bg-white/20 pointer-events-none' if navitem.url in page.url }}" href="{{ navitem.url }}">
          {{ navitem.label }}
        </a>
        {% if loop.last %}
      </div>{% endif %}
    {% endfor %}
    </div>
  </header>
  </div>