<div class="overflow-hidden border-b border-gray-700 pt-8 bg-gradient-to-t from-primary/10 via-gray-900 to-gray-900" x-data="{ tab: window.location.hash ? window.location.hash.substring(1) : 'screen1' }" id="tab_wrapper">
    <div class="container flex flex-col items-center relative">

        <div data-sal="fade" data-sal-duration="500" data-sal-once>
            <div class="max-w-screen-xl mx-auto lg:text-7xl md:text-5xl text-3xl md:mb-6 mb-4 font-extrabold text-center">
                <!-- Hero main headline -->
                {{ hero[locale].title }}
            </div>
            <p class="text-center lg:text-xl max-w-screen-md mx-auto text-gray-200/75 z-10">
                <!-- Hero subtitle / text -->
                {{ hero[locale].text }}
            </p>
        </div>

        <div class="my-6 md:my-8 relative z-10 inline-flex text-center mx-auto p-2 bg-gray-800/20 border border-white/20 rounded-full backdrop-blur" data-sal="fade" data-sal-duration="500" data-sal-delay="300" data-sal-once>
            <!-- 🍱 Screenshot menu -->
            <div :class="{ 'gradient text-white': tab === 'screen1' }" @click.prevent="tab = 'screen1'; window.location.hash = 'screen1'" class="font-medium text-xs md:text-base px-2 md:px-4 py-2 hover:bg-white/25 transition-colors cursor-pointer rounded-full mr-1">{{ hero[locale].screen1 }}</div>
            <div :class="{ 'gradient text-white': tab === 'screen2' }" @click.prevent="tab = 'screen2'; window.location.hash = 'screen2'" class="font-medium text-xs md:text-base px-2 md:px-4 py-2 hover:bg-white/25 transition-colors cursor-pointer rounded-full mr-1">{{ hero[locale].screen2 }}</div>
            <div :class="{ 'gradient text-white': tab === 'screen3' }" @click.prevent="tab = 'screen3'; window.location.hash = 'screen3'" class="font-medium text-xs md:text-base px-2 md:px-4 py-2 hover:bg-white/25 transition-colors cursor-pointer rounded-full mr-1">{{ hero[locale].screen3 }}</div>
            <div :class="{ 'gradient text-white': tab === 'screen4' }" @click.prevent="tab = 'screen4'; window.location.hash = 'screen4'" class="font-medium text-xs md:text-base px-2 md:px-4 py-2 hover:bg-white/25 transition-colors cursor-pointer rounded-full">{{ hero[locale].screen4 }}</div>
        </div>

        <div class="relative z-0 sm:h-[288px] md:h-[352px] lg:h-[384px] 2xl:h-[512px]" data-sal="fade" data-sal-duration="500" data-sal-delay="400" data-sal-once>
            <!-- 📷 Product screenshots -->
            <div x-cloak x-show="tab === 'screen1'"><img src="../assets/images/screen1.png" class="image-gradient 2xl:max-w-screen-lg max-w-screen-md w-full relative z-10 rounded-t-xl md:rounded-t-xl" alt=""></div>
            <div x-cloak x-show="tab === 'screen2'"><img src="../assets/images/screen2.png" class="image-gradient 2xl:max-w-screen-lg max-w-screen-md w-full relative z-10 rounded-t-xl md:rounded-t-xl" alt=""></div>
            <div x-cloak x-show="tab === 'screen3'"><img src="../assets/images/screen3.png" class="image-gradient 2xl:max-w-screen-lg max-w-screen-md w-full relative z-10 rounded-t-xl md:rounded-t-xl" alt=""></div>
            <div x-cloak x-show="tab === 'screen4'"><img src="../assets/images/screen4.png" class="image-gradient 2xl:max-w-screen-lg max-w-screen-md w-full relative z-10 rounded-t-xl md:rounded-t-xl" alt=""></div>

            <!-- ✨ Sparkles -->
            <div class="absolute right-16 -top-20 rotate-6 animate-pulse"><div class="bg-gradient-to-r from-white/0 via-white to-white/0 h-px w-20 absolute -translate-x-1/2"></div><div class="bg-gradient-to-r from-white/0 via-white to-white/0 h-px w-20 absolute -translate-x-1/2 blur-sm"></div><div class="bg-gradient-to-t from-white/0 via-white to-white/0 w-px h-20 absolute -translate-y-1/2"></div><div class="bg-gradient-to-t from-white/0 via-white to-white/0 w-px h-20 absolute -translate-y-1/2 blur-sm"></div></div>
            <div class="absolute right-4 -top-8 rotate-12 animate-pulse"><div class="bg-gradient-to-r from-white/0 via-white to-white/0 h-px w-12 absolute -translate-x-1/2"></div><div class="bg-gradient-to-r from-white/0 via-white to-white/0 h-px w-12 absolute -translate-x-1/2 blur-sm"></div><div class="bg-gradient-to-t from-white/0 via-white to-white/0 w-px h-12 absolute -translate-y-1/2"></div><div class="bg-gradient-to-t from-white/0 via-white to-white/0 w-px h-12 absolute -translate-y-1/2 blur-sm"></div></div>
            <div class="absolute -left-4 bottom-20 rotate-6 animate-pulse"><div class="bg-gradient-to-r from-white/0 via-white to-white/0 h-px w-20 absolute -translate-x-1/2"></div><div class="bg-gradient-to-r from-white/0 via-white to-white/0 h-px w-20 absolute -translate-x-1/2 blur-sm"></div><div class="bg-gradient-to-t from-white/0 via-white to-white/0 w-px h-20 absolute -translate-y-1/2"></div><div class="bg-gradient-to-t from-white/0 via-white to-white/0 w-px h-20 absolute -translate-y-1/2 blur-sm"></div></div>
            <div class="absolute -left-16 bottom-8 rotate-12 animate-pulse"><div class="bg-gradient-to-r from-white/0 via-white to-white/0 h-px w-12 absolute -translate-x-1/2"></div><div class="bg-gradient-to-r from-white/0 via-white to-white/0 h-px w-12 absolute -translate-x-1/2 blur-sm"></div><div class="bg-gradient-to-t from-white/0 via-white to-white/0 w-px h-12 absolute -translate-y-1/2"></div><div class="bg-gradient-to-t from-white/0 via-white to-white/0 w-px h-12 absolute -translate-y-1/2 blur-sm"></div></div>

        </div>
    </div>  
</div>