{% for lgg in languages %}
  {% if loop.first %}
  <div class="lg:flex items-center hidden">
  {% endif %}

  {# set translatedUrl to the homepage of that language by default #}
  {% set translatedUrl %}/{{lgg.locale}}/{% endset %}

  {# set current language class #}
  {% set activeClass = "" %}
  {% set activeAria = "" %}
  {% if lgg.locale === locale %}
    {% set activeClass = "hidden" %}
    {% set activeAria = 'aria-current="page"' | safe %}
  {% endif %}

  {# loop through all the content of the site #}
  {% for item in collections.all %}
    {# check matches #}
    {% if item.data.translationKey == translationKey and item.data.locale == lgg.locale %}
      {% set translatedUrl = item.url %}
    {% endif %}
  {% endfor%}

  <a class="inline-block py-2 px-4 rounded-xl hover:bg-gray-100/10 hover:text-white {{ activeClass }}" href="{{ translatedUrl }}">{{ lgg.label }}</a>
  {% if loop.last %}
  <div class="whitespace-nowrap ml-4 gradient py-2 font-medium px-4 rounded-xl hover:brightness-110 cursor-pointer" @click="ContactModal = true">{{ site[locale].requestDemo }}</div>

  </div>

  {% endif %}
{% endfor %}
