{% for navitem in mainnav[locale] %}
  {% if loop.first %}<ul class="flex">{% endif %}
    <li class="c-mainnav__item"><a class="mr-2" href="{{ navitem.url }}">{{ navitem.label }}</a></li>
  {% if loop.last %}</ul>{% endif %}
{% endfor %}
