<section class="bg-gray-800 border-b border-gray-700">
    <div class="container mx-auto py-6 md:py-12">
      <div class="text-center">
        <div class="mb-8 text-gray-300">
          {{ partner[locale].title }}
        </div>
      </div>
      <div class="flex flex-wrap items-center justify-evenly gap-5 md:gap-12 md:gap-y-6 max-w-screen-lg mx-auto">
            <img src="/assets/images/jaeger-gruppe-logo.png" class="object-contain h-6 md:h-12" alt="fhdortmund-logo">
            <img src="/assets/images/emctest.png" class="object-contain h-8 md:h-12" alt="fhdortmund-logo">
            <img src="/assets/images/emctest-1.png" class="object-contain h-9 md:h-12" alt="fhdortmund-logo">
            <img src="/assets/images/tremonia.png" class="object-contain h-8 md:h-12" alt="fhdortmund-logo">
            <img src="/assets/images/fhdortmund-logo.png" class="object-contain h-9 md:h-12" alt="fhdortmund-logo">
            <img src="/assets/images/uni-cologne.png" class="object-contain h-9 md:h-12" alt="uni-cologne">
            <img src="/assets/images/csb.png" class="wmd:mx-0 object-contain h-9 md:h-16" alt="FAE">
            <img src="/assets/images/dci.png" class="wmd:mx-0 object-contain h-9 md:h-16" alt="dci-logo">
            <img src="/assets/images/emit-logo.png" class="object-contain h-9 md:h-12" alt="emit-logo">
            <img src="/assets/images/international-school-stuttgart.png" class="object-contain h-9 md:h-16" alt="issev-logo">
      </div>
    </div>
  </section>