<section class="bg-gray-800 border-b border-gray-700">
    <div class="container mx-auto py-6 md:py-12">
      <div class="text-center">
        <div class="mb-8 text-gray-300">
          {{ partner[locale].title }}
        </div>
      </div>
      <div class="flex flex-wrap items-center justify-evenly gap-2 md:gap-4">
          <a class="opacity-90 hover:opacity-100" href="https://www.fh-dortmund.de/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/fhdortmund-logo.png" class="w-auto h-8 sm:h-10 md:h-12 mx-auto md:mx-0 object-contain mb-8 md:mb-0" alt="">
          </a>
          <a class="opacity-90 hover:opacity-100" href="https://emit.digital/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/emit-logo.png" class="w-auto h-8 sm:h-10 md:h-12 mx-auto md:mx-0 object-contain mb-8 md:mb-0" alt="">
          </a>
          <span>
            <img src="/assets/images/uni-cologne.png" class="w-auto h-8 sm:h-10 md:h-12 mx-auto md:mx-0 object-contain mb-8 md:mb-0" alt="">
          </span>
          <a class="opacity-90 hover:opacity-100" href="https://www.techhubk67.de/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/k67-logo.png" class="w-auto h-8 sm:h-10 mx-auto md:mx-0 object-contain mb-8 md:mb-0" alt="">
          </a>
          <a class="opacity-90 hover:opacity-100" href="https://edtechnext.de/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/edtech-logo.png" class="w-auto h-8 sm:h-10 md:h-12 mx-auto md:mx-0 object-contain mb-8 md:mb-0" alt="">
          </a>
          <a class="opacity-90 hover:opacity-100" href="https://www.worldfactory.de/en/fokusthemen/face-female-academic-entrepreneurs" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/FAE.png" class="w-auto h-8 sm:h-10 md:h-12 mx-auto md:mx-0 object-contain mb-8 md:mb-0" alt="">
          </a>
      </div>
    </div>
  </section>