<form 
    name="pilot-request" 
    method="POST" 
    action="/{{ locale }}/contact-success" 
    data-netlify="true" 
    netlify-honeypot="bot-field" 
    class="text-left"
>
<p class="hidden">
    <label>
    Don't fill this out if you're human: <input name="bot-field" />
    </label>
</p>
<div class="flex flex-col items-center gap-4 mt-4 md:flex-row">
    <p class="w-full">
        <label class="">{{ site[locale].pilotName }}:
        <input class="input-field" required type="text" name="name" />
        </label>
    </p>
    <p class="w-full">
        <label class="">{{ site[locale].pilotEmail }}:
        <input class="input-field" required type="email" name="email" />
        </label>
    </p>
</div>
<div class="flex flex-col items-center gap-4 mt-4 md:flex-row">
    <p class="w-full">
        <label class="">{{ site[locale].pilotCompany }}:
        <input class="input-field" required type="text" name="company" />
        </label>
    </p>
    <p class="w-full">
        <label class="">{{ site[locale].pilotRole }}:
        <input class="input-field" type="text" name="role" />
        </label>
    </p>
</div>
<p class="mt-4">
    <label>{{ site[locale].pilotEmployees }} <select class="pr-12 input-field" name="employees">
    <option value="less than 100">< 100</option>
    <option value="100-500">100-500</option>
    <option value="500-1000">500-1000</option>
    <option value="1000+">1000+</option>
    </select></label>
</p>
<p class="mt-4">
    <label class="">{{ site[locale].pilotMessage }}:
    <textarea class="input-field" name="message"></textarea>
    </label>
</p>
<p class="mt-4">
    <div class="flex text-base">
    <input required type="checkbox" name="agreement" id="pilot-agreement" class="flex-shrink-0 w-6 h-6 rounded cursor-pointer bg-dark border-secondary text-secondary focus:ring-secondary focus:ring-offset-dark">
    <label for="pilot-agreement" class="ml-4 text-gray-400">
        {{ site[locale].contactBoxText }}

        {% if locale === "de" %}
        <a class="text-white hover:text-primary" href="/de/datenschutzerklaerung">{{ site[locale].contactPrivacyLink }}</a>
        {% else %}
        <a class="text-white hover:text-primary" href="/en/privacy">{{ site[locale].contactPrivacyLink }}</a>
        {% endif %}
        
        {{ site[locale].contactAnd }}

        {% if locale === "de" %}
        <a class="text-white hover:text-primary" href="/de/agb">{{ site[locale].contactTermsLink }}</a>
        {% else %}
        <a class="text-white hover:text-primary" href="/en/terms-of-use">{{ site[locale].contactTermsLink }}</a>
        {% endif %}
        
        {{ site[locale].contactBoxText2 }}
    </label>
    </div>
</p>
<p class="flex items-center gap-4 mt-4">
    <button class="block w-full px-4 py-3 font-medium whitespace-nowrap gradient rounded-xl hover:brightness-110" type="submit">{{ site[locale].pilotSend }}</button>
</p>
</form>

