<section class="">

  <div class="container py-16 md:py-24">
    <h2 class="text-headline text-center">
      {{ site[locale].testimonials }}
    </h2>
    <div class="grid grid-cols-12 gap-4 lg:gap-8">
        {% for testimonial in testimonials[locale] %}
            <div class="col-span-12 lg:col-span-4">
                <div class="text-center p-8 rounded-xl h-full flex flex-col items-center">
                    <p class="leading-snug italic text-lg mb-4">{{ testimonial.quote }}</p>
                    <h2 class="text-primary font-medium title-font tracking-wider text-sm mt-auto">{{ testimonial.name }}</h2>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</section>